//** KEYFRAMES LOADER **//

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes loader {
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
    
}

//** KEYFRAMES HEART HOVER **//

@keyframes heart-hover{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

//** KEYFRAMES CARD MENU : CHECK + APPARITION **//

@keyframes cardmenu-apparition{
    0%{
        opacity: 0;
        top: 15px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
/* CHECK */

@keyframes checki{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes checkcardmenu{
    0%{
        transform: scaleX(0);
        
    }

    100%{
        transform: scaleX(1);
    }
}
@keyframes pricecardmenu {
    0% {
        padding-right: 10px;
    }
    100% {
        padding-right: 80px;
    }
}
.menu--1__card{
    &:hover{
        .menu--1__card__check{
            opacity: 1;
            animation: checkcardmenu 400ms linear forwards;
            i{
                animation: checki 400ms linear forwards;
            }
        }
        .price-hover{
            animation: pricecardmenu 400ms linear forwards;
        }
    }

}
.menu--2__card{
    &:hover{
        .menu--2__card__check{
            opacity: 1;
            animation: checkcardmenu 400ms linear forwards;
            i{
                animation: checki 400ms linear forwards;
            }
        }
        .price-hover{
            animation: pricecardmenu 400ms linear forwards;
        }
    }

}
.menu--3__card{
    &:hover{
        .menu--3__card__check{
            opacity: 1;
            animation: checkcardmenu 400ms linear forwards;
            i{
                animation: checki 400ms linear forwards;
            }
        }
        .price-hover{
            animation: pricecardmenu 400ms linear forwards;
        }
    }

}

//** KEYFRAMES SURBRILLANCE BTN HOVER **//

@keyframes btn-hover{
    0%{
        filter: brightness(100%)
    }

    100%{
        filter: brightness(115%);
        box-shadow: 0 6px 27px #828282;
    }
}




