@charset "UTF-8";
@import url(normalize.css);
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes heart-hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart-hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cardmenu-apparition {
  0% {
    opacity: 0;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes cardmenu-apparition {
  0% {
    opacity: 0;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/* CHECK */
@-webkit-keyframes checki {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes checki {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes checkcardmenu {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes checkcardmenu {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes pricecardmenu {
  0% {
    padding-right: 10px;
  }
  100% {
    padding-right: 80px;
  }
}

@keyframes pricecardmenu {
  0% {
    padding-right: 10px;
  }
  100% {
    padding-right: 80px;
  }
}

.menu--1__card:hover .menu--1__card__check {
  opacity: 1;
  -webkit-animation: checkcardmenu 400ms linear forwards;
          animation: checkcardmenu 400ms linear forwards;
}

.menu--1__card:hover .menu--1__card__check i {
  -webkit-animation: checki 400ms linear forwards;
          animation: checki 400ms linear forwards;
}

.menu--1__card:hover .price-hover {
  -webkit-animation: pricecardmenu 400ms linear forwards;
          animation: pricecardmenu 400ms linear forwards;
}

.menu--2__card:hover .menu--2__card__check {
  opacity: 1;
  -webkit-animation: checkcardmenu 400ms linear forwards;
          animation: checkcardmenu 400ms linear forwards;
}

.menu--2__card:hover .menu--2__card__check i {
  -webkit-animation: checki 400ms linear forwards;
          animation: checki 400ms linear forwards;
}

.menu--2__card:hover .price-hover {
  -webkit-animation: pricecardmenu 400ms linear forwards;
          animation: pricecardmenu 400ms linear forwards;
}

.menu--3__card:hover .menu--3__card__check {
  opacity: 1;
  -webkit-animation: checkcardmenu 400ms linear forwards;
          animation: checkcardmenu 400ms linear forwards;
}

.menu--3__card:hover .menu--3__card__check i {
  -webkit-animation: checki 400ms linear forwards;
          animation: checki 400ms linear forwards;
}

.menu--3__card:hover .price-hover {
  -webkit-animation: pricecardmenu 400ms linear forwards;
          animation: pricecardmenu 400ms linear forwards;
}

@-webkit-keyframes btn-hover {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  100% {
    -webkit-filter: brightness(115%);
            filter: brightness(115%);
    -webkit-box-shadow: 0 6px 27px #828282;
            box-shadow: 0 6px 27px #828282;
  }
}

@keyframes btn-hover {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  100% {
    -webkit-filter: brightness(115%);
            filter: brightness(115%);
    -webkit-box-shadow: 0 6px 27px #828282;
            box-shadow: 0 6px 27px #828282;
  }
}

@font-face {
  font-family: roboto;
  src: url(../polices/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../polices/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../polices/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: shrikand;
  src: url(../polices/shrikhand/Shrikhand-Regular.otf);
}

h1 {
  font-family: shrikand;
}

body {
  font-family: roboto;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bold {
  font-family: roboto-bold;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  -webkit-animation: loader 1s forwards;
          animation: loader 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.chargement {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-animation: spin 1500ms infinite;
          animation: spin 1500ms infinite;
}

.header--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.header--title img {
  width: 40%;
}

.header--localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EFEFEF;
  padding: 4%;
  font-family: roboto;
  -webkit-box-shadow: inset -1px 11px 10px -15px #111;
          box-shadow: inset -1px 11px 10px -15px #111;
}

.header--localisation i {
  padding-right: 15px;
}

.header--découverte {
  text-align: center;
  background-color: #F5F5F5;
  padding: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--découverte h2 {
  font-family: roboto-bold;
}

.header--découverte__txt {
  font-family: roboto-light;
  font-weight: bolder;
  padding-bottom: 5px;
}

.btn {
  color: white;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 70%;
  padding: 20px;
  text-align: center;
  font-family: roboto;
  -webkit-box-shadow: 0 2px 10px #a4a0a0;
          box-shadow: 0 2px 10px #a4a0a0;
  cursor: pointer;
}

.btn:hover {
  -webkit-animation: btn-hover 500ms ease-in-out forwards;
          animation: btn-hover 500ms ease-in-out forwards;
}

.btn:hover {
  -webkit-animation: btn-hover 500ms linear forwards;
          animation: btn-hover 500ms linear forwards;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  padding-bottom: 2%;
}

.fonctionnement h2 {
  font-family: roboto-bold;
  padding: 15px;
  font-size: 25px;
}

.btn-2 {
  padding: 25px;
  margin-bottom: 30px;
  margin-left: 20px;
  -webkit-box-shadow: 1px 1px 12px 0px #dcdcdc;
          box-shadow: 1px 1px 12px 0px #dcdcdc;
  width: 75%;
  border-radius: 20px;
  background-color: #F5F5F5;
  position: relative;
}

.btn-2 i {
  color: grey;
}

.btn-2:hover {
  background-color: rgba(147, 86, 221, 0.12);
}

.btn-2:hover i {
  color: #9356DC;
}

.btn-2--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-2--element__number {
  background-color: #9356DC;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  width: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  left: -10px;
}

.btn-2--element__txt {
  font-family: roboto-bold;
  padding-right: 10px;
}

main {
  background-color: #F5F5F5;
  padding-bottom: 10%;
  padding-top: 5%;
}

main h2 {
  margin-left: 5%;
  font-family: roboto-bold;
  padding: 15px;
  font-size: 25px;
  background-color: #F5F5F5;
}

.restaurantcard1, .restaurantcard2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurantcard {
  width: 330px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 4px #dcdcdc;
          box-shadow: 0px 0px 12px 4px #dcdcdc;
  background-color: white;
  margin-bottom: 5%;
}

.restaurantcard a {
  color: black;
  text-decoration: none;
  width: 90%;
}

.restaurantcard img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 170px;
  width: 330px;
}

.restaurantcard--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurantcard--element__txt {
  margin-left: 5%;
}

.restaurantcard--element__txt h3 {
  font-family: roboto-bold;
  font-weight: 300;
  margin-bottom: 0;
}

.restaurantcard--element__txt p {
  font-family: roboto-light;
  margin-top: -10px;
  font-size: 18px;
}

.restaurantcard--element__new {
  position: relative;
  bottom: 180px;
  left: 90px;
  background-color: #99E2D0;
  height: 35px;
  line-height: 0.3;
  border-radius: 3px;
  width: 40%;
  text-align: center;
  margin-left: -100px;
}

.restaurantcard--element__new p {
  font-family: roboto-bold;
  color: green;
  font-weight: 300;
}

.restaurantcard--element__heart {
  font-size: 25px;
}

.restaurantcard--element__heart .heart-solid {
  font-size: 26px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.restaurantcard--element__heart .heart-solid:hover {
  -webkit-animation: heart-hover 500ms linear forwards;
          animation: heart-hover 500ms linear forwards;
}

.restaurantcard--element__heart .heart-regular {
  position: relative;
  left: 31.5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #373737;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer h2 {
  font-family: shrikand;
  font-size: 20px;
}

.footer p {
  margin: 0;
  padding-bottom: 10px;
  font-family: roboto;
}

.footer--txt {
  padding-left: 25px;
  padding-bottom: 20px;
}

.footer--txt__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--txt__logo #logo-element-1 {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer--txt__logo #logo-element-2 {
  font-size: 12px;
  width: 11px;
  margin-bottom: 10px;
}

.footer--txt__logo p {
  padding-left: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .découverte {
    font-size: 20px;
  }
  .header--localisation {
    font-size: 23px;
  }
  .fonctionnement {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .btn-2 {
    margin-left: 0;
  }
  .btn-2--element {
    width: 74%;
    margin-left: 20px;
  }
  .btn-2--element__number {
    padding: 3px;
  }
  .btn-2 i {
    font-size: 18px;
  }
  .btn-2--element__txt {
    font-size: 20px;
  }
  main {
    margin-top: 5%;
  }
  main h2 {
    font-size: 30px;
  }
  .restaurantcard {
    width: 80%;
  }
  .restaurantcard img {
    width: 100%;
    height: 230px;
  }
  .restaurantcard--element {
    width: 95%;
  }
  .restaurantcard--element__txt {
    font-size: 20px;
  }
  .restaurantcard--element__txt p {
    font-size: 22px;
  }
  .restaurantcard--element__logo {
    font-size: 25px;
  }
  .restaurantcard--element__new {
    bottom: 230px;
    left: 50px;
    height: 50px;
    line-height: 0.6;
    padding-left: 30px;
    padding-right: 30px;
  }
  .restaurantcard--element__new p {
    font-size: 20px;
  }
  .footer--txt {
    font-size: 25px;
  }
  .footer--txt h2 {
    font-size: 25px;
  }
  .footer--txt__logo #logo-element-1 {
    font-size: 20px;
  }
  .footer--txt__logo #logo-element-2 {
    font-size: 18px;
    margin-right: 7px;
  }
}

@media only screen and (min-width: 960px) {
  .header--title img {
    width: 20%;
  }
  .header--localisation {
    font-size: 20px;
  }
  .header--découverte {
    padding: 5%;
  }
  .header--découverte h2 {
    margin-top: 0;
  }
  .btn {
    width: 30%;
  }
  .fonctionnement {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fonctionnement .ajustement-txt {
    margin-right: 7px;
  }
  .btn-2 {
    width: 50%;
  }
  .btn-2--element {
    width: 74%;
  }
  main {
    padding-bottom: 2%;
  }
  main h2 {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5%;
  }
  .restaurantcard1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurantcard2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurantcard {
    width: 40%;
  }
  .restaurantcard img {
    width: 100%;
    height: 200px;
  }
  .restaurantcard--element {
    width: 90%;
  }
  .restaurantcard--element__new {
    bottom: 200px;
    left: 150px;
  }
  .restaurantcard--element__logo {
    font-size: 25px;
  }
  .footer--txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer--txt h2 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */