@charset "UTF-8";
@import url(normalize.css);
@font-face {
  font-family: roboto;
  src: url(../polices/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../polices/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../polices/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: shrikand;
  src: url(../polices/shrikhand/Shrikhand-Regular.otf);
}

h1 {
  font-family: shrikand;
}

body {
  font-family: roboto;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bold {
  font-family: roboto-bold;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.title img {
  width: 40%;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EFEFEF;
  padding: 4%;
  font-family: roboto;
  -webkit-box-shadow: inset -1px 11px 10px -15px #111;
          box-shadow: inset -1px 11px 10px -15px #111;
}

.localisation i {
  padding-right: 15px;
}

.découverte {
  text-align: center;
  background-color: #F5F5F5;
  padding: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.découverte h2 {
  font-family: roboto-bold;
}

.découverte--txt {
  font-family: roboto-light;
  font-weight: bolder;
  padding-bottom: 5px;
}

.btn {
  color: white;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 70%;
  padding: 20px;
  text-align: center;
  font-family: roboto;
  cursor: pointer;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

.fonctionnement h2 {
  font-family: roboto-bold;
  padding: 15px;
  font-size: 25px;
}

.btn-2 {
  padding: 25px;
  margin-bottom: 30px;
  margin-left: 20px;
  -webkit-box-shadow: 1px 1px 12px 0px #dcdcdc;
          box-shadow: 1px 1px 12px 0px #dcdcdc;
  width: 75%;
  border-radius: 20px;
  background-color: #F5F5F5;
}

.btn-2 i {
  color: grey;
}

.btn-2:active {
  background-color: #DDA0DD;
}

.btn-2--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  right: 50px;
}

.btn-2--element__number {
  background-color: #9356DC;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  width: 25px;
  line-height: 25px;
  text-align: center;
}

.btn-2--element__txt {
  font-family: roboto-bold;
}

main {
  background-color: #F5F5F5;
  padding-bottom: 10%;
  padding-top: 5%;
}

main h2 {
  margin-left: 5%;
  font-family: roboto-bold;
  padding: 15px;
  font-size: 25px;
  background-color: #F5F5F5;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurantcard {
  width: 330px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 4px #dcdcdc;
          box-shadow: 0px 0px 12px 4px #dcdcdc;
  background-color: white;
  margin-bottom: 5%;
}

.restaurantcard a {
  color: black;
  text-decoration: none;
}

.restaurantcard img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 170px;
  width: 330px;
}

.restaurantcard--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurantcard--element__txt {
  margin-left: 5%;
}

.restaurantcard--element__txt h3 {
  font-family: roboto-bold;
  font-weight: 300;
  margin-bottom: 0;
}

.restaurantcard--element__txt p {
  font-family: roboto-light;
  margin-top: -10px;
  font-size: 18px;
}

.restaurantcard--element__logo {
  font-size: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #373737;
  color: white;
}

.footer h2 {
  font-family: shrikand;
  font-size: 20px;
}

.footer p {
  margin: 0;
  padding-bottom: 10px;
}

.footer--txt {
  padding-left: 25px;
  padding-bottom: 20px;
}

.footer--txt__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--txt__logo #logo-element-1 {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer--txt__logo #logo-element-2 {
  font-size: 12px;
  width: 11px;
  margin-bottom: 10px;
}

.footer--txt__logo p {
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */