@import "./variables";
@import "./mixins";
@import url(normalize.css);
@import "./keyframes.scss";

@font-face {
    font-family: roboto;
    src: url(../polices/roboto/Roboto-Regular.ttf);;
}

@font-face {
    font-family: roboto-bold;
    src: url(../polices/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../polices/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: shrikand;
    src: url(../polices/shrikhand/Shrikhand-Regular.otf);
}

#bold{
    font-family: roboto-bold;
    font-weight: 100;
}

img{
    object-fit: cover;
}


//************************************* PAGE 1 ************************************************//


//*****  HEADER  ****//

.header
{
    display: flex;
    align-items: center;
    margin-top: 5%;
    #--logo{
        font-size: 15px;
        margin-left: 30px;
    }
        a{
            text-decoration: none;
            color: black;
        }
    img{
        width: 40%;
        padding-left: 70px;
        align-items: center;
    } 
}

//***** MAIN *****//

main{
    margin-top: 2%;
    z-index: 1;
    img{
        width: 100%;
        height: 300px;
        margin-bottom: -80px;
    }
}

.menu
    {
        background-color: #F5F5F5;
        width: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding-bottom: 5%;
        &--title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            font-family: shrikand;
            h2{
                margin: 30px;
                font-weight: 400;
            }
            i{
                font-size: 20px;
            }
        }
        &--1{
            display: flex;
            flex-direction: column;
            align-items: center; 
            animation: menu 800ms ease-in-out forwards;
            position: relative;
            &__title{
                @include titlecard
                }
            &__card{
            @include cardmenu;
            }
        }

        &--2{
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: menu 800ms ease-in-out forwards;
            position: relative;
            &__title{
                @include titlecard
            }
            &__card{
            @include cardmenu;  
            }
        }

        &--3{
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: menu 800ms ease-in-out forwards;
            position: relative;
            &__title{
                @include titlecard
            }
            &__card{
            @include cardmenu;  
            }
        }
    }


.btn{
    @include btn;
    width: 50%;
    margin: 10%;
    margin-left: 20%;
    height: 15px;
    line-height: 1;
}

//******* FOOTER ******//

.footer{
    @include footer;
}

@media only screen and (min-width :768px) and (max-width : 959px){

    //******* TABLETTE *******//

.header{
    justify-content: center;
    #--logo{
        font-size: 25px;
        margin-right: 150px;
    }
}

main img{
    height: 500px;
}

.menu{
        &--title{
            h2{
            font-size: 35px;
            margin: 50px;
            }
        }
        &--1{
            &__title{
                width: 7%;
                font-size: 20px;
            }
            &__card{
                width: 70%;
            h3{
                font-size: 23px;
            }
            &__element p{
                font-size: 20px;
            }
            }
        }
        &--2{
            &__title{
                width: 7%;
                font-size: 20px;
            }
            &__card{
                width: 70%;
            h3{
                font-size: 23px;
            }
            &__element p{
                font-size: 20px;
            }
            }
        }
        &--3{
            &__title{
                width: 7%;
                font-size: 20px;
            }
            &__card{
                width: 70%;
            h3{
                font-size: 23px;
            }
            &__element p{
                font-size: 20px;
            }
            }
        }
}

.btn{
    padding: 27px;
    line-height: 0.8;
    font-size: 23px;
    width: 30%;
    margin-left: 30%;
}

.footer--txt{
    font-size: 25px;
    h2{
        font-size: 25px;
    }
    &__logo #logo-element-1 {
        font-size: 20px;
    }
    &__logo #logo-element-2 {
        font-size: 18px;
        margin-right: 7px;
    }

}

}

@media only screen and (min-width :959px){

    //******* ORDINATEUR *******//

    .header{
        justify-content: center;
        margin-top: 3%;
        #--logo{
            font-size: 25px;
            margin-right: 150px;
        }
    }
    main img{
        height: 600px;
    }
    
    .menu{
        padding-bottom: 0;
            &--title{
                h2{
                font-size: 30px;
                margin: 50px;
                }
            }
            &--1{
                &__title{
                    width: 4%;
                    font-size: 20px;
                }
                &__card{
                    width: 70%;
                h3{
                    font-size: 20px;
                }
                &__element p{
                    font-size: 20px;
                }
                }
            }
            &--2{
                &__title{
                    width: 4%;
                    font-size: 20px;
                }
                &__card{
                    width: 70%;
                h3{
                    font-size: 20px;
                }
                &__element p{
                    font-size: 20px;
                }
                }
            }
            &--3{
                &__title{
                    width: 4%;
                    font-size: 20px;
                }
                &__card{
                    width: 70%;
                h3{
                    font-size: 20px;
                }
                &__element p{
                    font-size: 20px;
                }
                }
            }
    }
    
    .btn{
        margin-left: 37%;
        width: 25%;
        font-size: 20px;
    }
    
    .footer{
        &--txt{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: 30px;
            }
        }
    
    }
    
}







